.product_cart
  = form_tag(:controller => "order", :action => "order_add_product", :id => product.id) do

    .product_cart-img
      -if product.attachments.find_last
        = link_to("/shop/#{product.category.parent_path}/product/#{product.id}") do
          = image_tag product.attachments.find_last.file_url(:thumb)
      -else
        = link_to("/shop/#{product.category.parent_path}/product/#{product.id}") do
          %img{:src => '/images/nophoto_small.png'}
      
      -if product.sale
        .product-sale
          .product-sale-bg
          .product-sale-desc
            Скидка
            =product.sale.to_i
            \%
  
    .clearfix
      .pull-left
        %h3.product_cart-title
          = link_to "/shop/#{product.category.parent_path}/product/#{product.id}", :class => 'title'  do
            =product.title
        -unless product.sale
          .product_cart-price
            Цена: 
            = product.price.to_i 
            руб.
        -if product.sale 
          .product_cart-price.old
            Цена: 
            = product.price.to_i 
            руб.
          .product_cart-price
            Цена: 
            = product.price_sale.to_i 
            руб.
      %button.btn.btn_green-add
        %span.btn-in
          %i.icons.icons_cart-white