<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>
<body style="margin: 0; padding: 0;" bgcolor="#ffffff" text="#444444" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" link="#5A2A00" alink="#5A2A00" vlink="#5A2A00" style="font: normal 13px Arial;">

<div style="font: normal 13px Arial;">

  <h2>Уважаемый Покупатель, благодарим Вас за размещение заказа в магазине экзотических товаров Карибуни!</h2>

  <h4>Заказ № <%= @order.id %>:</h4>

  <%- for product in @order.products %>
      <p>
        <%= product.title %>
        =
        <%-unless product.sale%>
            <%= product.price %>
        <%-end%>
        <%-if product.sale%>
            <%= product.price_sale %>
        <%-end%>        
        руб.
      </p>
  <%- end %>

  <p>
    Итоговая стоимость заказа: <%= @order.price.to_i %> руб.
  </p>

  <p>
    Наш оператор свяжется с Вами в течение нескольких часов по телефону для обсуждения деталей доставки.
  </p>

  <p>
    Хорошего дня!
  </p>
</div>


</body>
</html>